[Unit]
Description=Graphical Starter Config File
After=rogentoslive.service

[Service]
ExecStart=/usr/libexec/graphical_start.sh
Type=simple

[Install]
Alias=graphical_start.service
WantedBy=multi-user.target
