[Unit]
Description=Argent installer setup
Before=display-manager.service
After=argentlive.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/installer-gui.sh

[Install]
WantedBy=multi-user.target