[Unit]
Description=ServiceSSH Starter Config File
After=rogentoslive.service

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/libexec/serverssh.sh

[Install]
Alias=servicessh.service
WantedBy=multi-user.target
