[Unit]
Description=ServiceSSH Starter Config File
After=rogentoslive.service

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/libexec/whatever.sh

[Install]
Alias=whatever.service
WantedBy=multi-user.target
